<!DOCTYPE html>
<html>
<head>
    <meta http-equiv=Content-Type content="text/html;charset=UTF-8">
    <title>Catalog</title>
</head>
<body>
    <style>
    .wrapper{
        width: 1000px;
        margin: 0 auto;
    }
    .wrapper .header{
        width: 100%;
        height: 40px;
        background: #eee;
    }
    .wrapper .body{
        width: 100%;
        min-height: 600px;
        background: #ccc;
        font-size: 0;
    }
    .wrapper .body ul{
        font-size: 14px;
        margin: 0;
    }
    </style>
    <div class="wrapper">
        <div class="header"><h1>{{sitename}}</h1></div>
        <div class="body">
            <ul>
                {% for category in categories %}
                <li><a href="/{{category.alias}}/">{{category.name}}</a></li>
                {% endfor %}
            </ul>
        </div>
    </div>

</body>
</html>